pre {
  margin: 0;
}

.container {
  position: relative;
}

#display-pre {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(48, 48, 48, 0.5);
}

#display {
  padding-right: 0;
  background-color: transparent;
}

.code-cursor {
  margin: 0 10px 0 0;
  border-right: 1px white solid;
}
